<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
OpenFibr is a startup which connects companies (and individuals) to help them sell and purchase second-hand software technologies through the elaboration of a platform for all secondhand digital assets.
</p>